<app-header></app-header>
<!-- This example requires Tailwind CSS v2.0+ -->
<div class="flex flex-col py-20 px-4">
  <div>

  </div>
  <div class="relative text-gray-600 focus-within:text-gray-400">
    <span class="absolute inset-y-0 left-0 flex items-center pl-2">
      <button type="submit" class="p-1 focus:outline-none focus:shadow-outline">
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" class="w-6 h-6"><path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
      </button>
    </span>
    <input type="text" class="py-2 text-sm text-white bg-gray-light rounded-md pl-10 focus:outline-none focus:bg-black focus:text-gray-darkest" placeholder="Search by Name, vehicle Number etc"[(ngModel)]="term">
    <span style="display:inline-block; width:2rem;"></span>
    <button class="border-2 border-blue-cadetblue rounded-md p-1" (click)="showdelete()">
      Create a new User
    </button>
  </div>
  <br />
  <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
      <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
        <table class="overflow-x-auto w-full bg-gray-dark">
          <thead class="bg-blue-100 border-b border-gray-500">
            <tr>
              <th class="p-4 text-left text-sm font-medium text-white-linen">
                User Name
              </th>
              <th class="p-4 text-left text-sm font-medium text-white-linen">
                Full Name
              </th>
              <th class="p-4 text-left text-sm font-medium text-white-linen">
                Phone Number
              </th>
              <th class="p-4 text-left text-sm font-medium text-white-linen">
                Vehicle Number
              </th>
              <th class="p-4 text-left text-sm font-medium text-white-linen">
                Vehicle Code
              </th>
              <th class="p-4 text-left text-sm font-medium text-white-linen">
                Created On
              </th>
              <th class="p-4 text-left text-sm font-medium text-white-linen">
                Actions
              </th>
            </tr>
          </thead>
          <tbody class="text-gray-600 text-sm divide-y divide-gray-300">
            <tr class="bg-white-linen font-medium text-sm divide-y divide-gray-200" *ngFor="let item of userDetailsresponse|filter: term">
              <td class="p-4 whitespace-nowrap">{{item.userName}}</td>
              <td class="p-4 whitespace-nowrap">{{item.firstName}}{{" "}}{{item.lastName}}</td>
              <td class="p-4 whitespace-nowrap">{{item.phoneNumber}}</td>
              <td class="p-4 whitespace-nowrap">{{item.vehicleNumber}}</td>
              <td class="p-4 whitespace-nowrap">{{item.vehicleCode}}</td>
              <td class="p-4 whitespace-nowrap">{{item.createdDate|date:"medium"}}</td>
              <td class="p-4 whitespace-nowrap">
                <div class="flex space-x-1">
                  <button class="border-2 border-indigo-200 rounded-md p-1" (click)="showRecordtoEdit(item)">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                      class="h-4 w-4 text-indigo-500">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                    </svg>
                  </button>

                  <button class="border-2 border-Red rounded-md p-1">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                      class="h-4 w-4 text-red-500"  (click)="deleteUser(item.userId)">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                    </svg>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="fixed z-10 inset-0 overflow-y-auto" *ngIf="showcreatedialog">
  <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
    <div class="fixed inset-0 transition-opacity" aria-hidden="true">
      <div class="absolute inset-0 bg-gray opacity-75"></div>
    </div>
    <!-- This element is to trick the browser into centering the modal contents. -->
    <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
    <div
      class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-2xl sm:w-full"
      role="dialog" aria-modal="true" aria-labelledby="modal-headline">
      <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
        <div class="sm:flex sm:items-start">
          <div
            class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-15">
          </div>
          <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
            <h3 class="text-lg leading-6 font-medium text-gray-900 text-center" id="modal-headline">
              Creating A User
            </h3>
            <form [formGroup]="createUserform" #createuserForm="ngForm" (ngSubmit)="createUser(createuserForm.value)">
              <div class="divide-y divide-blue-Tiffany">
                <div class="py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7">
                  <div class="flex items-center space-x-4">
                    <div class="flex flex-col">
                      <label class="leading-loose">First Name</label>
                      <div class="relative focus-within:text-gray-600 text-gray-400">
                        <input type="text" formControlName="firstName"
                          class="pr-4 pl-10 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600"
                          placeholder="your first name" />
                      </div>
                    </div>
                    <div class="flex flex-col">
                      <label class="leading-loose">Last Name</label>
                      <div class="relative focus-within:text-gray-600 text-gray-400">
                        <input type="text" formControlName="lastName"
                          class="pr-4 pl-10 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600"
                          placeholder="your last name" />
                      </div>
                    </div>
                  </div>
                  <div class="flex flex-col">
                    <label class="leading-loose">Vehicle Number</label>
                    <div class="relative focus-within:text-gray-600 text-gray-400">
                      <input type="text" formControlName="vehicleNumber"
                        class="pr-4 pl-10 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600"
                        placeholder="your Vehicle Number Please" />
                    </div>
                  </div>
                  <div class="flex items-center space-x-4">
                    <div class="flex flex-col">
                      <label class="leading-loose">Your Phone Number</label>
                      <div class="relative focus-within:text-gray-600 text-gray-400">
                        <input type="text" formControlName="phoneNumber"
                          class="pr-4 pl-10 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600"
                          placeholder="your phone number" />
                      </div>
                    </div>
                    <div class="flex flex-col">
                      <br />
                      <div class="relative inline-flex">
                        <svg class="w-2 h-2 absolute top-0 right-0 m-4 pointer-events-none"
                          xmlns="http://www.w3.org/2000/svg" viewBox="0 0 412 232">
                          <path
                            d="M206 171.144L42.678 7.822c-9.763-9.763-25.592-9.763-35.355 0-9.763 9.764-9.763 25.592 0 35.355l181 181c4.88 4.882 11.279 7.323 17.677 7.323s12.796-2.441 17.678-7.322l181-181c9.763-9.764 9.763-25.592 0-35.355-9.763-9.763-25.592-9.763-35.355 0L206 171.144z"
                            fill="#648299" fill-rule="nonzero" />
                        </svg>
                        <select formControlName="vehicleCode"
                          class="border border-gray-300 rounded-full text-gray-600 h-10 pl-5 pr-10 bg-white hover:border-gray-400 focus:outline-none appearance-none">
                          <option value="Select Your Vehicle">Select Your Vehicle</option>
                          <option value="C01">Car</option>
                          <option value="B01">Bike</option>
                          <option value="S01">Scotty</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                <button type="submit"
                  class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-green-light text-base font-medium text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:ml-3 sm:w-auto sm:text-sm">
                  Create User
                </button>
                <button type="button"
                  class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-Red text-base font-medium text-white-linen hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm"
                  (click)="cancelevent()">
                  Cancel
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--for edit box-->
<div class="fixed z-10 inset-0 overflow-y-auto" *ngIf="showeditdialog">
  <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
    <div class="fixed inset-0 transition-opacity" aria-hidden="true">
      <div class="absolute inset-0 bg-gray opacity-75"></div>
    </div>
    <!-- This element is to trick the browser into centering the modal contents. -->
    <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
    <div
      class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-2xl sm:w-full"
      role="dialog" aria-modal="true" aria-labelledby="modal-headline">
      <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
        <div class="sm:flex sm:items-start">
          <div
            class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-15">
          </div>
          <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
            <h3 class="text-lg leading-6 font-medium text-gray-900 text-center" id="modal-headline">
              Edit A User
            </h3>
            <form [formGroup]="editUserform" #edituserForm="ngForm" (ngSubmit)="editUser(edituserForm.value)">
              <div class="divide-y divide-blue-Tiffany">
                <div class="py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7">
                  <div class="flex items-center space-x-4">
                    <div class="flex flex-col">
                      <label class="leading-loose">First Name</label>
                      <div class="relative focus-within:text-gray-600 text-gray-400">
                        <input type="text" formControlName="firstName"
                          class="pr-4 pl-10 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600"
                          placeholder="your first name" />
                      </div>
                    </div>
                    <div class="flex flex-col">
                      <label class="leading-loose">Last Name</label>
                      <div class="relative focus-within:text-gray-600 text-gray-400">
                        <input type="text" formControlName="lastName"
                          class="pr-4 pl-10 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600"
                          placeholder="your last name" />
                      </div>
                    </div>
                  </div>
                  <div class="flex flex-col">
                    <label class="leading-loose">Vehicle Number</label>
                    <div class="relative focus-within:text-gray-600 text-gray-400">
                      <input type="text" formControlName="vehicleNumber"
                        class="pr-4 pl-10 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600"
                        placeholder="your Vehicle Number Please" />
                    </div>
                  </div>
                  <div class="flex items-center space-x-4">
                    <div class="flex flex-col">
                      <label class="leading-loose">Your Phone Number</label>
                      <div class="relative focus-within:text-gray-600 text-gray-400">
                        <input type="text" formControlName="phoneNumber"
                          class="pr-4 pl-10 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600"
                          placeholder="your phone number" />
                      </div>
                    </div>
                    <div class="flex flex-col">
                      <br />
                      <div class="relative inline-flex">
                        <svg class="w-2 h-2 absolute top-0 right-0 m-4 pointer-events-none"
                          xmlns="http://www.w3.org/2000/svg" viewBox="0 0 412 232">
                          <path
                            d="M206 171.144L42.678 7.822c-9.763-9.763-25.592-9.763-35.355 0-9.763 9.764-9.763 25.592 0 35.355l181 181c4.88 4.882 11.279 7.323 17.677 7.323s12.796-2.441 17.678-7.322l181-181c9.763-9.764 9.763-25.592 0-35.355-9.763-9.763-25.592-9.763-35.355 0L206 171.144z"
                            fill="#648299" fill-rule="nonzero" />
                        </svg>
                        <select formControlName="vehicleCode"
                          class="border border-gray-300 rounded-full text-gray-600 h-10 pl-5 pr-10 bg-white hover:border-gray-400 focus:outline-none appearance-none">
                          <option value="Select Your Vehicle">Select Your Vehicle</option>
                          <option value="C01">Car</option>
                          <option value="B01">Bike</option>
                          <option value="S01">Scotty</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                <button type="submit"
                  class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-green-light text-base font-medium text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:ml-3 sm:w-auto sm:text-sm">
                  Save
                </button>
                <button type="button"
                  class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-Red text-base font-medium text-white-linen hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm"
                  (click)="cancelevent()">
                  Cancel
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

